* {
  margin: 0;
  padding: 0;
  color: #c9d1d9;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  white-space: nowrap;
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#45c270),
    to(#21cdc3)
  );
}

.world {
  position: absolute;
  top: 12vh;
  width: 15vw;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0 0 0.4rem #000);
  transition: all 1s ease-in-out;
}

.world:hover {
  filter: drop-shadow(0 0 0.4rem #c9d1d9);
}

.logo {
  width: 8rem;
  top: 20.5rem;
  left: 47.5%;
  position: absolute;
}

main .info {
  display: none;
}

main p {
  position: absolute;
  top: 40vh;
  width: 15vw;
  left: 50%;
  transform: translate(-50%);
  display: block;
}

main #location {
  font-size: 1.4rem;
  cursor: pointer;
  filter: drop-shadow(0 0 0.4rem #000);
  transition: all 0.2s ease-in-out;
}

main #location:hover {
  transform: scale(1.03);
}

@media (max-width: 414px) {
  main .world {
    width: 15rem;
    top: 4rem;
    left: 22%;
  }

  main .logo {
    top: 21.5rem;
    left: 43%;
  }

  main #location {
    font-size: 1.4rem;

    left: 4%;
  }
} ;
